*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('foto/background.jpg.jpg');
    background-position: center;
    background-size: 1400px;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul{
    display: flex;
    justify-content: end;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: #fff;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px; 
    display: block;
    width: 100%;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 35px;
    font-family: 'Martian Mono', monospace;
    margin: 20px auto;
}

.search-bar{
    width: 100%;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin: auto;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0px 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

::placeholder{
    color: #fff;
    font-weight: 500;
}

.search-bar button img{
    width: 25px;
    background: transparent;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgb(218, 162, 43);
    cursor: pointer;
}

.search-bar button img:hover{
    color: #fff;
}

nav .bi{
    display: none;
}

@media (max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul, .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(49, 43, 72);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .bi{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
} 
.foot{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.foot-col{
    flex-basis: 31%;
    background-color: rgb(125, 115, 162);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.foot-col:hover{
    box-shadow: 10px 20px 20px 0 rgba(30, 0, 199, 0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}



.price-header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(foto/background.jpg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.footer-price{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer-price h4{
    margin-bottom: 25px;
    font-weight: 600;
}
.icons .bi{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
}
.icons .fi{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
}
.pricelist{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pricelist img{
    width: 25%;
    padding: 30px;
}
p{
    width: 98%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 800;
}

    